<div class="bookmark">
<h2>My Favourites</h2>
<div class="bookmark-wrapper">
  <% @bookmarks.each do |bookmark| %>
  <div class="bookmark-card">
      <input type="checkbox" id="<%= bookmark.id %>" class="more" aria-hidden="true">
      <div class="bookmark-card-content">
          <div class="card-front" style="background-image: url(
          <% if bookmark.restaurant.cuisine == "Mexican" %>
            <%= "https://source.unsplash.com/lP5MCM6nZ5A" %>
          <%elsif bookmark.restaurant.cuisine == "Italian" %>
            <%="https://source.unsplash.com/MqT0asuoIcU" %>
          <%else %>
            <%= "https://source.unsplash.com/Y11iTVE2DFA" %>
          <% end %> ">
            <div class="card-inner">
              <h4><%=  bookmark.restaurant.name %></h4>
                <div class="bookmark-rating">
                  <% if bookmark.restaurant.rating < 2 %>
                    <i class="fas fa-star" style="color:rgb(240, 240, 240)"></i>
                  <% elsif (bookmark.restaurant.rating >= 2 && bookmark.restaurant.rating < 3) %>
                    <% 2.times do %>
                    <i class="fas fa-star" style="color:rgb(240, 240, 240)"></i>
                    <% end %>
                  <% elsif (bookmark.restaurant.rating >= 3 && bookmark.restaurant.rating < 4) %>
                    <% 3.times do %>
                    <i class="fas fa-star" style="color:rgb(240, 240, 240)"></i>
                    <% end %>
                  <% elsif (bookmark.restaurant.rating >= 4 && bookmark.restaurant.rating < 4.5) %>
                    <% 4.times do %>
                    <i class="fas fa-star" style="color:rgb(240, 240, 240)"></i>
                    <% end %>
                  <% else %>
                    <% 5.times do %>
                    <i class="fas fa-star" style="color:rgb(240, 240, 240)"></i>
                    <% end %>
                  <% end %>
                </div>
              <label for="<%= bookmark.id %>" class="card-button" aria-hidden="true">
                Details
              </label>
            </div>
          </div>
          <div class="card-back">
            <div class="card-inner">
              <div class="card-info">
                <span><%=  bookmark.restaurant.date_rating %></span>
                <div class="card-icon">
                  <i class="fas fa-heart"></i>
                  <span>Date</span>
                </div>
              </div>
              <div class="card-info">
                <span><%=  bookmark.restaurant.social_rating %></span>
                <div class="card-icon">
                  <i class="fas fa-users"></i>
                  <span>Social</span>
                </div>
              </div>
              <div class="card-info">
                <span><%=  bookmark.restaurant.rush_rating %></span>
                <div class="card-icon">
                  <i class="far fa-clock"></i>
                  <span>Quick</span>
                </div>
              </div>
              <div class="card-description">
                <p> <%= bookmark.restaurant.description %> </p>
                <p><%= link_to "Go To Restaurant", restaurant_path(bookmark.restaurant) %></p>
              </div>

              <div class="card-location"><%= bookmark.restaurant.location %></div>
              <div class="card-price">

                <% if bookmark.restaurant.price < 80 %>
                  <i class="fas fa-dollar-sign"></i>
                <% elsif bookmark.restaurant.price >= 120 %>
                  <i class="fas fa-dollar-sign"></i> <i class="fas fa-dollar-sign"></i> <i class="fas fa-dollar-sign"></i>
                <% else %>
                  <i class="fas fa-dollar-sign"></i> <i class="fas fa-dollar-sign"></i>
                <% end %>
              </div>
              <label for="<%= bookmark.id %>" class="card-button return" aria-hidden="true">
              <i class="fas fa-arrow-left"></i>
              </label>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
