<div class="bookmark-wrapper">
  <% @bookmarks.each do |bookmark| %>
  <div class="bookmark-card">
      <input type="checkbox" id="<%= bookmark.id %>" class="more" aria-hidden="true">
      <div class="bookmark-card-content">
          <div class="card-front" style="background-image: url(
          <% if bookmark.restaurant.cuisine == "Mexican" %>
            <%= "https://source.unsplash.com/Y0zbn9lPCEU" %>
          <%elsif bookmark.restaurant.cuisine == "Italian" %>
            <%="https://source.unsplash.com/MqT0asuoIcU" %>
          <%else %>
            <%= "https://source.unsplash.com/Y11iTVE2DFA" %>
          <% end %> ">
            <div class="card-inner">
              <h2><%=  bookmark.restaurant.name %></h2>
                <div class="bookmark-rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
              <label for="<%= bookmark.id %>" class="card-button" aria-hidden="true">
                Details
              </label>
            </div>
          </div>
          <div class="card-back">
            <div class="card-inner">
              <div class="card-info">
                <span>94%</span>
                <div class="card-icon">
                  <i class="fas fa-hamburger"></i>
                  <span>mood</span>
                </div>
              </div>
              <div class="card-description">
                <p> <%= bookmark.restaurant.description %> </p>
              </div>
              <div class="card-location"><%= bookmark.restaurant.location %></div>
              <div class="card-price"><%= bookmark.restaurant.price %></div>
              <label for="<%= bookmark.id %>" class="card-button return" aria-hidden="true">
              <i class="fas fa-arrow-left"></i>
              </label>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
