<div class="hero-container panel" data-color="violet">
    <div class="hero-title">
        <h1 class="title1">Today, I feel</h1>
        <h1 class="title-animate"><span id="rotate">mood</span></h1>
    </div>
    <img src="https://source.unsplash.com/vJsj-hgOEG0" alt="">

    <div class="panel" data-color="purple">
        <div class="search-container">
            <%= form_tag restaurants_path, method: :get, :class => "restaurant-search" do %>
                <div class="form-tag">
                    <%= label_tag(:q, "Location", class: "search-label") %>
                    <%= text_field_tag :location,
                        params[:location],
                        class: "form-control",
                        placeholder: "Where to eat?",
                        name: "location"
                    %>
                </div>
                <div class="form-tag">
                    <%= label_tag(:q, "Cuisine", class: "search-label")%>
                    <%= text_field_tag :cuisine,
                        params[:cuisine],
                        class: "form-control",
                        placeholder: "What do you feel like?",
                        name: "cuisine"
                    %>
                </div>
                <div class="custom-class form-tag">
                    <%= label_tag(:q, "Mood:", class: "mood-text") %>
                    <select id="mood-dropdown" name="mood" class="mood-dropdown-list">
                        <option value="" data-placeholder>Your Mood</option>
                        <option value="romantic">Romantic</option>
                        <option value="casual">Casual</option>
                        <option value="feast">Feast</option>
                        <option value="social">Social</option>
                        <option value="lazy">Lazy</option>
                    </select>
                </div>
                <%= button_tag type: "submit", class: "search-submit-button" do %>
                    <i class="fas fa-search"></i>
                <% end %>
            <% end %>
            <h3 class="BS text-center">Personalised recommendations without the BS.</h3>
        </div>
    </div>
</div>


<div class="panel" data-color="blue">
    <div class="title-description">
        <h1 class="title2">find and curate restaurants using your mood</h1><br><br>
        <div class="subtitle-description">
            <h4 class="subtitle">choosing a restaurant for the right occasion can be a hassle. tell us what you feel like, and we'll take care of the rest.</h4>
        </div>
    </div>
</div>
<div class="panel" data-color="purple">
    <h1 class="title">mood food</h1>
    <div class="subtitle"><%= link_to "sign up", new_user_registration_path %> to see your recommendations or search below to get started</div>
</div>
