<% cache restaurant do %>
    <div id="restaurant-<%= restaurant.id %>" class="restaurant-card">
        <%= link_to restaurant_path(restaurant), target: :_blank do %>
            <div class="image-segment">
                <img class="restaurant-image" src="https://source.unsplash.com/mE6kjov4rTg" alt="">    
                <% end %>
                <div class="mood-rating-text">
                    <p>93%</p>
                </div>
                <% existing_bookmark = restaurant.bookmarked_by(current_user) %>
                <% if existing_bookmark %>
                    <%= link_to bookmark_path(existing_bookmark), method: :delete, class: "like-button", remote: true,'data-turbolinks-scroll': false do %>
                        <i class="like-icon fas fa-heart"></i>
                    <% end %>
                <% else %>
                    <%= link_to restaurant_bookmarks_path(restaurant), method: :post, class: "like-button", remote: true, 'data-turbolinks-scroll': false do %>
                        <i class="like-icon far fa-heart"></i>
                    <% end %>
                <% end %>
            </div>
        <p style="color:#b9b9b9; font-size:15px"><i class="fas fa-utensils"></i> <%= restaurant.cuisine %>  <i class="fas fa-map-marker-alt"></i> <%= restaurant.location %></p>
        <%= link_to restaurant_path(restaurant), target: :_blank, :class => "restaurant-link" do %>
            <p class="restaurant-name"><%= restaurant.name%></p>
        <% end %>
        <p class="mt-2"><%= restaurant.description %></p>
        <div class="mt-3" style="position:absolute; display:inline-block"><p><%= restaurant.rating %> <i class="fas fa-star"></i> (23) | $<%= restaurant.price / 2 %>pp</p></div>
    </div>
<% end %>