<% cache restaurant do %>
    <div id="restaurant-<%= restaurant.id %>" class="restaurant-card">
        <%= link_to restaurant_path(restaurant) do %>
            <div class="image-segment">
                <img class="restaurant-image" src="https://source.unsplash.com/mE6kjov4rTg" alt="">
                <% end %>
                <div>
                    <div class= "restaurant-icons">
                        <div>
                            <div id="MoodMatch" class="mood-rating-text">

                            <script src="https://unpkg.com/@popperjs/core@2"></script>
                            <script src="https://unpkg.com/tippy.js@6"></script>
                            <script>
                                tippy('#MoodMatch', {
                                content: 'Your personalised match',
                                });
                            </script>
                                <p><%=restaurant.mood_rating%>%</p>
                            </div>
                        </div>
                        <div>
                         <% existing_bookmark = restaurant.bookmarked_by(current_user) %>
                            <% if existing_bookmark %>
                                <%= link_to bookmark_path(existing_bookmark, location: params[:location], mood: params[:mood], cuisine: params[:cuisine]), method: :delete, class: "like-button", remote: true, 'data-turbolinks-scroll': false do %>
                                    <i class="like-icon fas fa-heart"></i>
                                <% end %>
                            <% else %>
                                <%= link_to restaurant_bookmarks_path(restaurant, location: params[:location], mood: params[:mood], cuisine: params[:cuisine]), method: :post, class: "like-button", remote: true, 'data-turbolinks-scroll': false do %>
                                    <i class="like-icon far fa-heart"></i>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        <p style="color:#b9b9b9; font-size:15px"><i class="fas fa-utensils"></i> <%= restaurant.cuisine %>  <i class="fas fa-map-marker-alt"></i> <%= restaurant.location %></p>
        <%= link_to restaurant_path(restaurant), :class => "restaurant-link" do %>
            <p class="restaurant-name"><%= restaurant.name%></p>
        <% end %>
        <p class="mt-2"><%= restaurant.description %></p>
        <div class="mt-3" style="position:absolute; display:inline-block"><p><%= restaurant.rating %>
            <script src="https://unpkg.com/@popperjs/core@2"></script>
                <script src="https://unpkg.com/tippy.js@6"></script>
                <script>

                tippy('.mt-3', {
                  content: 'Rating aggregation',
                  });
    </script>
          <i class="fas fa-star"></i> (23) | $<%= restaurant.price / 2 %>pp</p></div>
    </div>
<% end %>
