<div show-container>
<div class="restaurant-container">
  <img src= <%=@restaurant_image%> alt="">
  <div class="restaurant-title">
    <h1><strong><%=@restaurant.name%></strong></h1>
  </div>
  <div class="mood-rating-text">
    <p>93%</p>
  </div>
  <button class="like-button"><span id="like-icon"><i class="far fa-heart"></i></span></button>
</div>

<div class="restaurant-info">
  <div class="title">
    <h4><strong><%=@restaurant.description%></strong></h4>
  </div>
</div>

<div class="location-info">
  <div id="map"
     style="width: 100%; height: 300px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="location-description">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="review-info">
  <div class="review-header">
    <h2>Top Reviews</h2>
  </div>
  <% @restaurant_reviews.each do |review| %>
    <div class="review">
      <h3>Review</h3>
        <p><%=review.rating%></p>
        <p><%=review.description%></p>
    </div>
  <% end %>
</div>

<div class="link-menu">
  <h2>Feeling something different?</h2>
  <div class="link"><%= link_to "Change my mood", restaurants_path %> to search again</div>
</div>
</div>

